<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Github</key>
	<dict>
		<key>kNXOAuth2AccountStoreConfigurationClientID</key>
		<string>1b44c100b8c7df0e5c56</string>
		<key>kNXOAuth2AccountStoreConfigurationSecret</key>
		<string>7971a606968e8c0e2e5fb8f8a49cd1d10a32f952</string>
		<key>kNXOAuth2AccountStoreConfigurationAuthorizeURL</key>
		<string>https://github.com/login/oauth/authorize</string>
		<key>kNXOAuth2AccountStoreConfigurationTokenURL</key>
		<string>https://github.com/login/oauth/access_token</string>
		<key>kNXOAuth2AccountStoreConfigurationRedirectURL</key>
		<string>codepath://github</string>
	</dict>
	<key>Parse</key>
	<dict>
		<key>application_id</key>
		<string>gtYHMAoe7aQMnME0kYAz9sK6vM0oVEg7iBJrZJFy</string>
		<key>client_key</key>
		<string>QsfSHC7PhWBrsZ79dDJMzEUKF3YfXNUJGpipJXVp</string>
	</dict>
</dict>
</plist>
