[submodule "Submodules/OAuth2Client"]
	path = Submodules/OAuth2Client
	url = https://github.com/azoff/OAuth2Client.git
[submodule "Submodules/SwiftyJSON"]
	path = Submodules/SwiftyJSON
	url = https://github.com/azoff/SwiftyJSON.git
